<div id="zone">
	<h1><%= title %></h1>
	<span id="description">59秒で消えるみんなで同時に使えるホワイトボードです。</span>
	<!-- <button id="btn">button</button> -->

	<span id='social'>
		<span id='online'><span></span><br>online</span>
		<span class="facebook_like"></span>
		<span class="tweet"></span>
	</span>

	<span id="contact">
		<a href="https://twitter.com/yutaono/">@yutaono</a> / <a href="https://github.com/yutaono/fnbb">GitHub</a>
	</span>

	<script>
	$(function() {
		$('.tweet').socialbutton('twitter', {
			text: '59sec white board - 59秒で消えて、みんなで同時に使えるホワイトボード',
			height: 50
		});
		$('.facebook_like').socialbutton('facebook_like',{
			button: 'box_count',
			height: 50
		});
	});
	</script>

</div>
