html, body ,div#zone {
	height: 100%;
}

a {
  color: #00B7FF;
}

span.text, input {
	position: absolute;
	width: 200px;
	height: 28px;
	background-color: transparent;
	border: 0;
	font-size: 24px;
}

#online {
	/*position: absolute;*/
	/*top: 40px;*/
	width: 60px;
	height: 60px;
	margin-right: 8px;
  background-color: #d7d7d7;
  color: #444;
  text-align: center;
  font-size: 16px;
	min-height: 20px;
	line-height: 20px;
}

#online span {
	padding-top: 10px;
	padding-bottom: 10px;
  font-size: 36px;
}


#contact {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 18px;
}

#social {
	position: absolute;
	bottom: 0px;
	/*margin-bottom: -50px;*/
	left: 20px;
}

#social span {
	width: 80px;
	float : left;
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
}